.card::-webkit-scrollbar {
  height: 0.6rem;
  display: hidden;
  margin-top: 1rem;
}
.card::-webkit-scrollbar:hover {
  display: block;
}

.card::-webkit-scrollbar-track {
  background-color: #b2defd;
}

.card::-webkit-scrollbar-thumb {
  background-color: var(--secondary-color);
  border-radius: 0.125rem;
  // border: 1.5px solid #b2defd;
  border-inline: none;
}
