.fp {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1.5rem;

  h1 {
    font-size: 1.6rem;
    font-weight: 800;
    margin-bottom: 0rem;
  }

  .fpWrapper {
    display: flex;
    flex-direction: row;
    gap: 2rem;

    .fpItem {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      flex: 1;

      .fpName {
        font-size: 1.2rem;
        font-weight: bold;
      }
      .fpCity {
        font-size: 0.9rem;
        font-weight: 300;
      }
      .fpPrice {
        font-weight: 500;
        font-size: 0.9rem;
      }

      .rating {
        display: flex;
        flex-direction: row;
        align-items: center;

        span {
          font-size: 0.9rem;
        }
      }
    }
  }
}

// .card::-webkit-scrollbar {
//   height: 0.6rem;
//   display: hidden;
//   margin-top: 1rem;
// }
// .card::-webkit-scrollbar:hover {
//   display: block;
// }

// .card::-webkit-scrollbar-track {
//   background-color: #b2defd;
// }

// .card::-webkit-scrollbar-thumb {
//   background-color: var(--secondary-color);
//   border-radius: 0.125rem;
//     border: 1.5px solid #b2defd;
//   border-inline: none;
// }
