.fp {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1024px;
  gap: 1.5rem;
}

.fp h1 {
  font-size: 1.6rem;
  font-weight: 800;
  margin-bottom: 0rem;
}

.fp .fpWrapper {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.fp .fpWrapper .fpItem {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  flex: 1;
}

.fp .fpWrapper .fpItem .fpName {
  font-size: 1.2rem;
  font-weight: bold;
}

.fp .fpWrapper .fpItem .fpCity {
  font-size: 0.9rem;
  font-weight: 300;
}

.fp .fpWrapper .fpItem .fpPrice {
  font-weight: 500;
  font-size: 0.9rem;
}

.fp .fpWrapper .fpItem img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.fp .fpWrapper .fpItem .rating {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.fp .fpWrapper .fpItem .rating button {
  background-color: var(--primary-color);
  color: white;
  font-weight: bold;
  font-size: 1rem;
  padding: 3px 5px;
  border: none;
  margin-right: 0.5rem;
  border-radius: 4px;
}

.fp .fpWrapper .fpItem .rating span {
  font-size: 0.9rem;
}
