.navbar {
  display: flex;
  justify-content: center;
  height: 60px;
  background-color: var(--primary-color);
  color: white;
}

.navbar .navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1024px;
}

.navbar .navContainer .logo {
  font-weight: 700;
  font-size: 22px;
}

.navbar .navContainer .navItems {
  display: flex;
  gap: 1rem;
}

.navbar .navContainer .navItems button {
  border: 1px solid white;
  border-radius: 4px;
  padding: 0.4rem 0.5rem;
  color: white;
  background-color: transparent;
  font-size: 16px;
  cursor: pointer;
}

.navbar .navContainer .navItems .register {
  background-color: white;
  color: var(--primary-color);
}

.navbar .navContainer .navItems .login {
  background-color: rgba(255, 255, 255, 0.166);
}
