.header{
    display: flex;
    justify-content: center;
    background-color: var(--primary-color);
    color: white;
    position: relative;

    .headerContainer{
        width: 100%;
        max-width: 1024px;

        .headerList{
            display: flex;
            gap: 1.2rem;
            align-items: center;
            margin: 0.2rem 0rem 4rem 0rem;

            &.hotelsMode{
                margin: 0.2rem 0rem 1.5rem 0rem;
            }

            .headerListItem{
                display: flex;
                gap: 0.4rem;
                padding: 0.7rem 0.7rem;
                border-radius: 20px;
                cursor: pointer;
                align-items: center;
                border: 1px solid transparent;

                &.active{
                    background-color: rgba(255, 255, 255, 0.122);
                    color: white;
                    border: 1px solid white;
                }
                &:hover{
                    background-color: rgba(255, 255, 255, 0.122);
                    border: 1px solid rgba(255, 255, 255, 0.122);
                }
            }
        }

        .headerContent{
            margin-bottom: 5rem;
            h2{
                font-size: 3rem;
                font-weight: 900;
                margin-bottom: 10px;
            }
            p{
                font-size: 1.4rem;
                width: 80%;
                margin-bottom: 2rem;
                margin-top: 0;
                padding-left: 5px;
                font-weight: 300;
            }
            button{
                font-size: 1.1rem;
                background-color: var(--secondary-color);
                border: none;
                color: white;
                padding: 0.8rem 1rem;
                margin-left: 5px;
                cursor: pointer;
            }
        }

        .headerSearch{
            display: flex;
            height: 40px;
            width: 100%;
            max-width: 1024px;
            align-items: center;
            justify-content: space-around;
            color: black;
            position: absolute;
            bottom: -20px;

            .headerSearchContainer{
                display: flex;
                width: 100%;
                height: 100%;
                gap: 1rem;
                border: 4px solid #febb02;
                border-radius: 4px;
                background-color: white;
                padding: 0.5rem 1.5rem;
                justify-content: space-around;

                .headerSearchItem{
                    display: flex;
                    gap: 0.6rem;
                    align-items: center;
                    position: relative;

                    .openPopCalendar{
                        margin: 0;
                        padding: 0;
                    }
                    

                    .icon{
                        color: rgba(128, 128, 128, 0.239);
                    }

                    .datePopCalendar{
                        position: absolute;
                        top: 50px;
                        left: -100px;
                        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
                        z-index: 2;
                    }

                    .headerSearchInput{
                        outline: none;
                        border: none;
                        font-size: 16px;
                        background-color: transparent;

                        &::placeholder{
                            font-size: 16px;
                        }
                    }

                    .headerSearchText{
                        font-size: 16px;
                        color: lightgrey;
                        // width: 260px;

                        
                    }

                    .headerOptions{
                        display: flex;
                        flex-direction: column;
                        gap: 0.4rem;
                        position: absolute;
                        top: 50px;
                        background-color: white;
                        padding: 1.5rem 2rem;
                        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
                        row-gap: 0.8rem;
                        z-index: 2;

                        .optionItem{
                            display: flex;
                            align-items: center;
                            width: 250px;
                            justify-content: space-between;
                            gap: 2rem;

                            .numbers{
                                display: flex;
                                column-gap: 1.5rem;
                                align-items: center;
                                

                                .number{
                                    width: 10px;
                                    // padding-right: 10px;
                                }
                            }
                        }


                        button{
                            border: 1px solid var(--secondary-color);
                            color: var(--secondary-color);
                            background-color: white;
                            // padding: 1px 10px;

                            &:disabled{
                                border: 1px solid lightgrey;
                                color: lightgrey;

                                &:hover{
                                    background-color: white;
                                    cursor: not-allowed;
                                }
                            }

                            &:hover{
                                background-color: var(--secondary-color-lighter);
                            }
                        }
                    }


                }
                .headerBtn{
                    padding: 0.7rem 0.9rem;
                    background-color: var(--secondary-color);
                    color: white;
                    border: none;
                    font-size: 1rem;
                }
            }
        }
    }
}