.hotels {
    .hotelsContainer {
        display: flex;
        justify-content: center;
        margin-top: 2rem;

        .hotelsWrapper {
            gap: 1.5rem;
            width: 100%;

            .hotelSearch {
                flex: 1;
                background-color: #febb02;
                padding: 1.5rem 1rem;
                border-radius: 0.2rem;
                top: 10px;
                height: max-content;
                width: max-content;

                h1 {
                    font-size: 1.6rem;
                    font-weight: bolder;
                    color: #333333;
                    margin-bottom: 0.6rem;
                    margin-top: 0rem;
                }

                .searchItem {
                    position: relative;

                    .input {
                        display: flex;
                        flex-direction: row;
                        gap: 0.4rem;
                        background-color: white;
                        align-items: center;
                        padding: 0.5rem 0.8rem;
                        border-radius: 0.1rem;
                        cursor: pointer;

                        .icon {
                            font-size: 12px;
                            color: rgb(49, 49, 49);
                        }

                        input {
                            background-color: transparent;
                            border: none;
                            outline: none;
                            font-size: 14px;
                        }
                        span {
                            font-size: 14px;
                        }
                    }

                    .date {
                        position: absolute;
                        top: 3.5rem;
                        left: -24%;
                        z-index: 2;
                        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
                    }
                }

                .options {
                    margin-top: 0.5rem;
                    padding: 10px;
                    background: rgb(255 255 255 / 21%);
                    border-radius: 5px;

                    p {
                        margin-top: 0;
                        margin-bottom: 10px;
                        font-weight: 500;
                    }

                    .optionsContainer {
                        display: flex;
                        flex-direction: column;
                        gap: 1rem;
                        .option {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            font-size: 12px;
                            span {
                                align-self: center;
                                margin: 0;
                                color: rgb(69, 69, 69);
                            }
                            input {
                                width: 50px;
                                outline: none;
                                border: 1px solid rgb(131, 130, 130);
                                border-radius: 2px;
                            }
                        }
                    }
                }

                .checkbox {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    margin-top: 0.4rem;

                    .icon {
                        font-size: 0.8rem;
                    }

                    .checkboxWrapper {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        input {
                            margin-left: 0rem;
                        }
                        span {
                            font-size: 0.8rem;
                        }
                    }
                }

                .searchBtn {
                    background-color: var(--secondary-color);
                    color: white;
                    border: none;
                    padding: 0.8rem 1rem;
                    width: 100%;
                    margin-top: 1rem;
                    border-radius: 0.2rem;
                    font-size: 1rem;
                    font-weight: 600;
                    cursor: pointer;
                    transition: 0.1s all cubic-bezier(0.455, 0.03, 0.515, 0.955);
                    &:hover {
                        background-color: #003580;
                    }
                }
            }

            .hotelResultContainer {
                flex: 3;
                display: flex;
                flex-direction: column;
                gap: 1rem;
                .hrHeading {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    h2 {
                        margin-bottom: 0;
                    }
                    .mapBtn {
                        display: flex;
                        align-items: center;
                        background: grey;
                        button {
                            font-size: 1rem;
                            background: var(--secondary-color);
                            color: white;
                            font-weight: 600;
                            padding: 0.5rem 0.8rem;
                            border: none;
                            outline: none;
                        }
                    }
                }
                .optionsBar {
                    width: 100%;
                    margin-bottom: 1rem;

                    span {
                        color: var(--secondary-color);
                        border: 1px solid var(--secondary-color);
                        padding: 0.5rem 0.5rem;
                        font-size: 14px;
                        font-weight: 500;
                        transition: 0.1s all cubic-bezier(0.19, 1, 0.22, 1);
                        cursor: pointer;
                        &:hover {
                            background-color: var(--secondary-color-lighter);
                        }
                    }
                    span.active {
                        background-color: var(--secondary-color);
                        color: white;
                    }
                }
                .hotelResults {
                    display: flex;
                    flex-direction: column;
                    gap: 1.5rem;
                }
            }
        }
    }
}
