.mailList{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    background-color: var(--primary-color);
    color: white;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;

    h1{
        font-size: 2rem;
        font-weight: 800;
        margin-bottom: 0rem;
        margin-top: 0rem;
    }
    p{
        margin-top: 0.4rem;
        font-weight: 300;
        font-size: 0.9rem;
    }

    .submitEmail{
        display: flex;
        flex-direction: column;

    }

    .input{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 1rem;
        margin-top: 1rem;

        input{
            outline: none;
            border: none;
            background-color: white;
            padding: 0.5rem 1rem;
            font-size: 1rem;
            margin-right: 0.5rem;
            width: 300px;
            height: 30px;
            border-radius: 5px;
        }
        button{
            border: none;
            background-color: var(--secondary-color);
            color: white;
            padding: 0.55rem 1rem;
            font-size: 1.2rem;
            height: 50px;
            cursor: pointer;
            border-radius: 5px;
        }
    }
    .checkbox{
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 0.9rem;
        font-weight: 300;

        input{
            margin-left: 0rem;
            margin-right: 0.5rem;
        }
    }
}