.mailList {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  background-color: var(--primary-color);
  color: white;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;

  box-shadow: 0 0 0 100vmax var(--primary-color);
  clip-path: inset(0 -100vmax);

  h1 {
    font-size: 2rem;
    font-weight: 800;
    margin-bottom: 0rem;
    margin-top: 0rem;
  }
  p {
    margin-top: 0.4rem;
    font-weight: 300;
    font-size: 0.9rem;
  }

  .submitEmail {
    display: flex;
    flex-direction: column;
  }

  .checkbox {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 0.9rem;
    font-weight: 300;

    input {
      margin-left: 0rem;
      margin-right: 0.5rem;
    }
  }
}
