@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root{
  --primary-color: #003580;
  --primary-color-light: rgba(0, 53, 128, 0.2);
  --secondary-color: #0071c2;
  --secondary-color-light: rgba(0, 113, 194, 0.21);
  --secondary-color-lighter: rgba(0, 113, 194, 0.052);
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  input{
    font-family: 'Roboto', sans-serif;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
